<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>ManagerWork</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <div id="newProject" class="scroll" scrollX="true">
        <p>Nombre del proyecto</p>
        <input type="text">

        <div id="avatar">
            <ion-avatar>
                <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
        </div>
        <p id="text-journey">COMIENZA NUESTRO VIAJE</p>
        <div id="buttons">
            <button>
          <p class="ingresar">Crear</p>
        </button>
            <button (click)="cancelProject()">
            <p class="ingresar">Cancelar</p>
          </button>
        </div>
    </div>
</ion-content>