<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>ManagerWork</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <div class="scroll" scrollX="true">
        <p>Nickname</p>
        <input type="text">
        <p>Contraseña</p>
        <input type="password">
        <button (click)="ingresar()">
          <p id="ingresar">Ingresar</p>
        </button>
        <p class="opcionesLogin" (click)="toRegister()">Registrarse</p>
        <p class="opcionesLogin">¿Olvidaste tu contraseña?</p>
    </div>
</ion-content>