<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>upTask Rpg</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <div class="scroll" scrollX="true">
        <p>Correo electrónico</p>
        <input type="text" #email required>
        <p>Contraseña</p>
        <input type="password" #password required>
        <button (click)="logIn(email, password)">
          <p id="ingresar">Ingresar</p>
        </button>
        <p class="opcionesLogin" (click)="toRegister()">Registrarse</p>
        <p class="opcionesLogin" (click)="toPasswordRecover()">¿Olvidaste tu contraseña?</p>
    </div>
</ion-content>