<ion-header>

    <ion-toolbar color="secondary">
        <ion-buttons slot=start>
            <ion-button (click)="openFirst()">
                <ion-icon id="iconMenu" name="menu"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Perfil</ion-title>

    </ion-toolbar>
</ion-header>
<ion-menu side="start" menuId="second" contentId="main">
    <ion-header>
        <ion-toolbar color="secondary">
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content color="primary">
        <ion-list>
            <ion-item color="secondary">
                <div class="color-texto-menu" (click)="irHome()">Inicio</div>
            </ion-item>
            <ion-item color="secondary">
                <div class="color-texto-menu">Perfil</div>
            </ion-item>
            <ion-item color="secondary" (click)="authService.SignOut()">
                <div class="color-texto-menu">Cerrar Sesion</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>


<ion-content color="primary">
    <div id="perfil" class="scroll" scrollX="true">
        <div id="imagenPerfil">
            <div id="avatar">
                <ion-avatar>
                    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                </ion-avatar>
            </div>


            <div id="datosPerfil">
                <p>Nickname</p>
                <p>Clase</p>
                <p>Estado de clase</p>
                <p>Lv.</p>
            </div>
        </div>

    </div>
    <div id="proyectos">
        <div id="optionsProfile">
            <div class="optionProfile">
                <p>Tareas incompletas</p>
            </div>
            <div class="optionProfile">
                <p>Tareas completadas</p>
            </div>

            <div class="optionProfile">
                <p>Amigos</p>
            </div>
            <div class="optionProfile">
                <p>Registrados</p>
            </div>
        </div>
    </div>
</ion-content>