<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>upTask Rpg</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <div class="scroll" scrollX="true">
        <p>Correo electrónico</p>
        <input type="text" #email required>
        <button (click)="sendPassword(email)">
          <p id="recuperar">Recuperar Contraseña</p>
        </button>
    </div>
</ion-content>