ion-title {
    background: #AD6161;
    text-align: center;
}

div {
    background: #D1AEAE;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 3%;
    margin-top: 10%;
    border: 7px solid transparent;
    border-radius: 18px;
    padding: 6%;
    //padding-left: 16%;
    //padding-right: 16%;
    padding-top: inherit;
    margin-top: 10%;
}

p {
    color: black;
}

input {
    border: 7px solid transparent;
    border-radius: 10px;
    color: black;
    font-size: x-large;
}

.opcionesLogin {
    text-align: center;
    margin-bottom: auto;
}

button {
    margin: auto;
    margin-top: 10%;
    display: block;
    background-color: #8C6D5B;
    border-radius: 10px;
    width: 75%;
}

#recuperar {
    color: white;
}